# compiled output
/dist
/tmp
/out-tsc
/build

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# python
pip-log.txt
.Python
.ipynb_checkpoints
.env
/env
/__pycache__/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs
credentials.txt
credentials.json
credentials.py

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
